<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand mr-auto">My dictionary</a>
        <span class="navbar-text mr-4" th:text="${user.username}">User name</span>
        <a class="btn btn-outline-primary my-2 my-sm-0" href="/logout">Logout</a>
    </nav>
    <div class="mb-3 mt-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link active" href="/">Category</a>
            </li>
            <li class="nav-item">
                <a id="createTestBtn" class="nav-link" href="/test">Test</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="alert alert-secondary col-md-6 m-auto text-center" role="alert">
            <h3><span id="word"></span></h3>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3 mt-3">
                <div class="card variant">
                    <div class="card-body">
                        <span id="answer0" class="text-center"></span>
                        <input type="hidden" id="variant1" value="0">
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3 mt-3">
                <div class="card variant">
                    <div class="card-body">
                        <span id="answer1" class="text-center"></span>
                        <input type="hidden" id="variant2" value="1">
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3 mt-3">
                <div class="card variant">
                    <div class="card-body">
                        <span id="answer2" class="text-center"></span>
                        <input type="hidden" id="variant3" value="2">
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3 mt-3">
                <div class="card variant">
                    <div class="card-body">
                        <span id="answer3" class="text-center"></span>
                        <input type="hidden" id="variant4" value="3">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" id="previousStepBtn"> < Previous</button>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-primary" id="nextStepBtn"> Next ></button>
                <a href="" class="btn btn-success" id="finish">Finish test</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script>
    var stepNumber = 0;
    var answer;
    var steps;
    $(function () {
        loadSteps();
    });

    $('.variant').click(function () {
        $('.variant').each(function () {
            if ($(this).hasClass('bg-primary')) {
                $(this).toggleClass('bg-primary');
            }
        });
        $(this).toggleClass('bg-primary');
        answer = $(this).find("input").val();
    });

    $('#nextStepBtn').click(function () {
        $.getJSON('http://localhost:8080/test/step/' + stepNumber + '/answer/' + answer, function (response) {
            steps[stepNumber].answer = answer;
            setData(++stepNumber);
        });
    });

    $('#previousStepBtn').click(function () {
        setData(--stepNumber);
    });

    function setData(stepNumber) {
        var word = steps[stepNumber].word;
        var variants = steps[stepNumber].variantOfAnswers;
        $("#word").text(word.word);

        $('#answer0').text(variants[0]);
        $('#answer1').text(variants[1]);
        $('#answer2').text(variants[2]);
        $('#answer3').text(variants[3]);

        $('.variant').each(function () {
            if ($(this).hasClass('bg-primary')) {
                $(this).toggleClass('bg-primary');
            }
        });

        if (steps[stepNumber].answer !== null) {
            answer = steps[stepNumber].answer;
            $('.variant').eq(Number.parseInt(answer)).toggleClass('bg-primary');
        }

        if (stepNumber > 0) {
            $('#previousStepBtn').show();
        } else {
            $('#previousStepBtn').hide();
        }

        if (steps.length - 1 === stepNumber) {
            $('#nextStepBtn').hide();
            $('#finish').show();
        } else {
            $('#nextStepBtn').show();
            $('#finish').hide();
        }

    }

    function loadSteps() {
        $.ajax({
            url: "http://localhost:8080/test/steps/get",
        }).then(function (data) {
            steps = data;
            setData(stepNumber);
            console.log(data);
        });
    }
</script>
</body>
</html>