<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dictionary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand mr-auto">My dictionary</a>
        <span class="navbar-text mr-4" th:text="${user.username}">User name</span>
        <a class="btn btn-outline-primary my-2 my-sm-0" href="/logout">Logout</a>
    </nav>
    <div class="mb-3 mt-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link active" href="/">Category</a>
            </li>
            <li class="nav-item">
                <a id="createTestBtn" class="nav-link" href="/test">Test</a>
            </li>
        </ul>
    </div>
    <div class=" mb-3 mt-3 mr-5 ml-5">
        <div class="row">
            <div class="col ">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Search by name..."
                           aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                    <select class="form-control form-control-lg">
                        <option selected>Sort by...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <!-- Button trigger modal -->
                <button type="button" class="ml-4 btn btn-primary btn-lg" data-toggle="modal"
                        data-target="#formCreateCategoryModal">Create new
                </button>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="alert alert-light" role="alert" th:if="${user.categories.size() == 0}">
            You have no categories yet!
        </div>
        <div class="col-md-4 mb-3 mt-3" th:each="category : ${user.categories}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center" th:text="${category.name}">Category title</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Amount word: <span th:text="${category.words.size()}">0</span></li>
                </ul>
                <div class="card-body">
                    <a th:href="'/category/' + ${category.id}" class="card-link">More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="formCreateCategoryModal" tabindex="-1" role="dialog"
     aria-labelledby="formCreateCategoryModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formCreateCategoryModalLabel">Create category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/category/create">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="categoryName"
                               placeholder="Enter the name">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>
</html>